:root{--max-width: 1100px;--border-radius: 12px;--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;--foreground-rgb: 0, 0, 0;--background-start-rgb: 214, 219, 220;--background-end-rgb: 255, 255, 255;--primary-glow: conic-gradient( from 180deg at 50% 50%, #16abff33 0deg, #0885ff33 55deg, #54d6ff33 120deg, #0071ff33 160deg, transparent 360deg );--secondary-glow: radial-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) );--tile-start-rgb: 239, 245, 249;--tile-end-rgb: 228, 232, 233;--tile-border: conic-gradient( #00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080 );--callout-rgb: 238, 240, 241;--callout-border-rgb: 172, 175, 176;--card-rgb: 180, 185, 188;--card-border-rgb: 131, 134, 135}@media(prefers-color-scheme: dark){:root{--foreground-rgb: 255, 255, 255;--background-start-rgb: 0, 0, 0;--background-end-rgb: 0, 0, 0;--primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));--secondary-glow: linear-gradient( to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, 0.3) );--tile-start-rgb: 2, 13, 46;--tile-end-rgb: 2, 5, 19;--tile-border: conic-gradient( #ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80 );--callout-rgb: 20, 20, 20;--callout-border-rgb: 108, 108, 108;--card-rgb: 100, 100, 100;--card-border-rgb: 200, 200, 200}}*{box-sizing:border-box;padding:0;margin:0}html,body{max-width:100vw;overflow-x:hidden}body{color:rgb(var(--foreground-rgb));background:#1a1a1a}*{box-sizing:border-box}body{background:#1a1a1a;color:#fff;min-width:320px;height:100vh;display:flex;flex-direction:column;font-family:"Montserrat",sans-serif}a{color:#fff;text-decoration:none;position:relative}a:visited{color:#fff}a:hover,a:focus,a:active{color:#fff}h2{padding:15px}.h2--hidden{display:none}.content{position:relative;max-width:1900px;width:100%;margin:0 auto;padding-bottom:89px}li{list-style-type:none}.main{min-width:300px}.main>section{padding:inherit 12px}.main>section h2{margin-left:-12px;padding-left:12px;padding-right:12px;color:#db4e36}.main-nav{position:fixed;background-color:#fff;border-bottom:solid 4px #db4e36;height:48px;width:100vw;z-index:1;text-align:center}.main-nav a{color:#121315;text-decoration:none;position:relative;text-align:center;display:inline-block;margin:0;padding:12px 4px;transition:all .12s}.main-nav a:visited{color:#121315}.main-nav a:hover,.main-nav a:focus,.main-nav a:active{color:#db4e36}.hamburger-menu--js{height:48px;width:120px;background-color:#fff;color:#121315;border:4px solid #db4e36;z-index:4;position:fixed;top:12px;left:12px}.hamburger-menu--js:hover,.hamburger-menu--js:focus,.hamburger-menu--js:active{color:#db4e36}.hamburger-menu-close{padding:12px;background:none;border:4px solid #db4e36}@media(max-width: 576px){.main-nav--hamburger{padding-top:48px;position:fixed;background-color:#fff;border-right:solid 4px #db4e36;height:100vh;width:80vw;z-index:1;text-align:center;top:0;left:0}.main-nav--hamburger a{color:#121315;text-decoration:none;position:relative;text-align:center;display:block;margin:0;padding:12px 4px;transition:all .12s}.main-nav--hamburger a:visited{color:#121315}.main-nav--hamburger a:hover,.main-nav--hamburger a:focus,.main-nav--hamburger a:active{color:#db4e36}}.h1--hidden{display:none}h2{color:#444;background-color:#fff;padding:12px;margin:15px 15px 40px 0;text-align:center;min-width:300px;max-width:40%}p{line-height:1.48}#main-page-header{display:flex;flex-wrap:wrap;justify-content:center;align-content:center;flex-direction:row;margin-top:48px;width:100vw;border-bottom:solid 8px #fff;margin-bottom:112px;animation:header-bg 12s alternate infinite}@media(min-width: 490px){#main-page-header{height:480px;flex-direction:column;align-content:space-around}}@media(min-width: 992px){#main-page-header{flex-direction:row}}@keyframes header-bg{0%{background-color:#2b4d63}100%{background-color:#588aa6}}.main__logo{height:40vh;max-height:412px;margin-top:18px;order:1}@media(min-width: 490px){.main__logo{height:89%}}@media(min-width: 688px){.main__logo{height:89vh;order:3}}@media(min-width: 992px){.main__logo{order:2}}.contact__item{color:#fff;padding:12px;height:120px;min-width:198px;max-width:50%;justify-self:center;justify-content:center;align-items:center;align-self:center;position:relative;transition:all .12s}@media(min-width: 992px){.contact__item{margin:0 48px}}.contact__item p{color:#fff;border-top:solid 4px #fff;text-align:center;font-size:100%;padding-top:12px;margin-top:4px;transition:all .12s}.contact__item .contact__icon{transition:all .12s}.contact__item:hover,.contact__item:focus,.contact__item:active{color:#db4e36}.contact__item:hover p,.contact__item:focus p,.contact__item:active p{color:#db4e36;border-top:solid 4px #db4e36}.contact__item:hover .contact__icon,.contact__item:focus .contact__icon,.contact__item:active .contact__icon{fill:#db4e36}#contact__mail{order:2}@media(min-width: 688px){#contact__mail{order:1}}#contact__phone{order:3}@media(min-width: 576px){#contact__phone{order:2}}@media(min-width: 688px){#contact__phone{order:3}}.contact__icon{height:40px;width:100%;fill:#fff;place-self:center}.works_sites{margin-top:40px;max-width:1900px;width:100%;margin:0 auto 20px auto}.works_sites .works_sites__info{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:left}.about-me__card{display:flex;flex-wrap:wrap;flex-direction:row;justify-content:space-evenly;align-content:center;align-items:center}.about-me__card .look-at-this-photograph{display:inline-flex;flex-wrap:wrap;flex-direction:row;justify-content:center;align-content:center;height:198px;width:198px;background:#fff}.about-me__card .look-at-this-photograph img{height:180px;display:block}.about-me__card section{display:inline-flex;flex-direction:column;justify-self:center;justify-content:center;align-items:left;align-self:center;margin-top:48px;margin-left:12px;padding:4px 12px;text-align:justify;border-left:solid 4px #db4e36}@media(min-width: 576px){.about-me__card section{margin-top:0;max-width:50%}}.about-me__card section h4{margin-bottom:12px}.website-thmb{display:inline-block;max-width:100%;margin:12px}.website-thmb img{width:300px;height:auto;display:block}.website-thmb p{margin:0;padding:12px;display:block;background-color:#fff;color:#444;border-top:solid 4px #db4e36}.gallery_works{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around}.gallery{margin-top:40px;max-width:1900px;width:100%;margin:0 auto 20px auto}.gallery_item{display:flex;flex-direction:column;align-items:center;justify-content:center;width:300px;height:400px;background-color:#fff;margin:30px 5px 0 5px;position:relative}.gallery_item img{max-height:310px;max-width:300px;margin-bottom:90px;display:flex;flex-direction:column;align-items:center;justify-content:center;justify-self:center}.gallery_caption{background-color:#fff;color:#444;height:90px;width:300px;padding:12px;position:absolute;bottom:0;margin:0;border-top:solid 4px #db4e36}.main-page_footer{text-align:center;padding:12px 0;background-color:#121315;border-top:solid 4px #db4e36}.main-page__media p{margin-left:12px}.main-page__media a,.main-page_footer a{color:#fff;transition:all .12s;font-weight:bolder}.main-page__media a:visited,.main-page_footer a:visited{color:#fff}.main-page__media a:hover,.main-page__media a:focus,.main-page__media a:active,.main-page_footer a:hover,.main-page_footer a:focus,.main-page_footer a:active{color:#db4e36}
/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */

.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  

  --pswp-root-z-index: 100000;
  
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  
  /* defined via js:
  --pswp-transition-duration: 333ms; */
  
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;

  --pswp-error-text-color: var(--pswp-icon-color);
}


/*
	Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
*/

.pswp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--pswp-root-z-index);
	display: none;
	touch-action: none;
	outline: 0;
	opacity: 0.003;
	contain: layout style size;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
  (it may be focused initially) */
.pswp:focus {
  outline: 0;
}

.pswp * {
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
	display: block;
}

.pswp,
.pswp__bg {
	transform: translateZ(0);
	will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
	background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
	overflow: hidden;
}

.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pswp__img,
.pswp__zoom-wrap {
	width: auto;
	height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
	cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
	cursor: zoom-out;
}


/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pswp__item {
	/* z-index for fade transition */
	z-index: 1;
	overflow: hidden;
}

.pswp__hidden {
	display: none !important;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
  pointer-events: none;
}
.pswp__content > * {
  pointer-events: auto;
}


/*

  PhotoSwipe UI

*/

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg-container {
  display: grid;
}
.pswp__error-msg {
	margin: auto;
	font-size: 1em;
	line-height: 1;
	color: var(--pswp-error-text-color);
}

/*
class pswp__hide-on-close is applied to elements that
should hide (for example fade out) when PhotoSwipe is closed
and show (for example fade in) when PhotoSwipe is opened
 */
.pswp .pswp__hide-on-close {
	opacity: 0.005;
	will-change: opacity;
	transition: opacity var(--pswp-transition-duration) cubic-bezier(0.4, 0, 0.22, 1);
	z-index: 10; /* always overlap slide content */
	pointer-events: none; /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
	opacity: 1;
	pointer-events: auto;
}

/* <button> styles, including css reset */
.pswp__button {
	position: relative;
	display: block;
	width: 50px;
	height: 60px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	background: none;
	border: 0;
	box-shadow: none;
	opacity: 0.85;
	-webkit-appearance: none;
	-webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
}

.pswp__icn {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
	outline: 0;
}

/*
	div element that matches size of large image,
	large image loads on top of it,
	used when msrc is not provided
*/
div.pswp__img--placeholder,
.pswp__img--with-bg {
	background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 60px;
	display: flex;
  flex-direction: row;
  justify-content: flex-end;
	z-index: 10;

	/* allow events to pass through top bar itself */
	pointer-events: none !important;
}
.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
     even though inner elements are not animated */
  will-change: opacity;
}


/*

  Close button

*/
.pswp__button--close {
  margin-right: 6px;
}


/*

  Arrow buttons

*/
.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}
.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  transform: scale(-1, 1);
}

/*

  Zoom button

*/
.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}


/*

  Loading indicator

*/
.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  transition: opacity 0.2s linear;
  animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@keyframes pswp-clockwise {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*

  "1 of 10" counter

*/
.pswp__counter {
  height: 30px;
  margin-top: 15px;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}

